__pycache__/
PCI-China/data/output/embedding.pkl
PCI-China/data/output/embedding_matrix.pkl
PCI-China/data/output/pd_up_to_2018_10.db
PCI-China/data/output/database.db
PCI-China/data/output/tokenizer.pkl
PCI-China/data/input/pd/*.pkl
PCI-China/data/input/sgns_renmin_Word+Character+Ngram/sgns_renmin_Word+Character+Ngram.txt
.RHistory
data.pkl
**/prev_pars.pkl
**/testing_data.xlsx
**/testing_data.csv
**/forecast_data.xlsx
**/forecast_data.csv
model.hd5
**/history/*
*.zip
**/~archives/*
**/articles_review/*
PCI-China/config.py
**/Tests/data/output/*
!PCI-China/tests/**
*.db
**__pycache__**